.coverage
AiHelper.md
.idea
.venv
.vscode/
__pycache__
pythonenv*
venv/
.pydeps/
.tmp/
.devcontainer/config/.cache/
.devcontainer/config/.cloud/
.devcontainer/config/.HA_VERSION
.devcontainer/config/.ha_run.lock
.devcontainer/config/.storage/
.devcontainer/config/backups/
.devcontainer/config/blueprints/
.devcontainer/config/custom_components/
.devcontainer/config/deps/
.devcontainer/config/home-assistant.log
.devcontainer/config/home-assistant.log.1
.devcontainer/config/home-assistant.log.fault
.devcontainer/config/home-assistant_v2.db
.devcontainer/config/home-assistant_v2.db-shm
.devcontainer/config/home-assistant_v2.db-wal
.devcontainer/config/tts/
.env
